<div class="container-fluid">
  <h1>Editing Issue</h1>

  <%= render 'form', issue: @issue %>

  <%= link_to 'Show', @issue, class: "btn btn-light min-width-btn" %> |
  <%= link_to 'Back', issues_path, class: "btn btn-light min-width-btn" %>
</div>