<div id="<%= dom_id type_item %>">
  <p>
    <strong>Description:</strong>
    <%= type_item.description %>
  </p>

  <p>
    <strong>Return term:</strong>
    <%= type_item.return_term %>
  </p>

</div>
